.contact-main {
  width: 100vw;
}

.basic-contact {
  margin-right: 5%;
  margin-left: 5%;
  height: fit-content;
  min-height: 80vh;
}

.contact-heading-div {
  display: flex;
  align-items: center;
}

.blog-heading-div {
  display: flex;
}

.address-heading-div {
  display: flex;
}

.blog-heading-div > * {
  flex: 1;
}

.contact-heading-div > * {
  flex: 1;
}

.address-heading-div > * {
  flex: 1;
}

.contact-heading-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-heading-img-div img {
  width: auto;
  height: auto;
  max-width: 450px;
  border-radius: 50%;
}

.blog-heading-img-div {
  align-items: center;
  justify-content: center;
}

.contact-heading-text-div {
  height: fit-content;
  text-align: right;
}

.blog-heading-text-div {
  text-align: center;
}

.address-heading-text-div {
  text-align: center;
}

.contact-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.blog-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.contact-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  text-align: center;
  text-align: right;
}

.blog-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
}

.address-heading-text {
  font-size: 30px;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-bottom: 10px;
}

.contact-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  font-family: "Google Sans Medium";
}

.blog-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
}

.resume-btn-div {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 20px;
  gap: 10px;
}

.blogsite-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.address-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

@media (min-width: 769px) and (max-width: 1380px) {
  .contact-heading-img-div img {
    width: 400px;
    height: 400px;
  }

  .contact-heading-div {
    flex-direction: column;
  }

  .contact-heading-text-div {
    margin-top: 40px;
    text-align: center;

    .contact-heading-text {
      text-align: center;
      font-size: 40px;
    }
    .contact-header-detail-text {
      font-size: 24px;
      text-align: center;
      line-height: 1.5;
    }
  }

  .contact-heading-text {
    font-size: 50px;
  }

  .blog-heading-text {
    font-size: 50px;
  }
  .resume-btn-div {
    justify-content: center;
  }
}

@media (min-width: 431px) and (max-width: 768px) {
  .contact-heading-img-div img {
    width: 300px;
    height: 300px;
  }

  .contact-heading-text {
    font-size: 30px;
    margin-top: 0px;
  }

  .contact-heading-text-div {
    margin-top: 40px;
    text-align: center;

    .contact-heading-text {
      text-align: center;
      font-size: 40px;
    }
    .contact-header-detail-text {
      font-size: 24px;
      text-align: center;
      line-height: 1.5;
    }
  }

  .blog-heading-text {
    font-size: 30px;
    margin-top: 0px;
  }

  .address-heading-text {
    font-size: 20px;
  }

  .blog-heading-div {
    flex-direction: column-reverse;
  }

  .address-heading-div {
    flex-direction: column;
  }

  .contact-heading-div {
    flex-direction: column;
  }

  .contact-header-detail-text {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }

  .blog-header-detail-text {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
  .resume-btn-div {
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .contact-heading-div {
    flex-direction: column;
  }
  .contact-heading-img-div img {
    width: 200px;
    height: 200px;
  }
  .contact-heading-text-div {
    margin-top: 20px;
    text-align: center;

    .contact-heading-text {
      text-align: center;
      font-size: 24px;
    }
    .contact-header-detail-text {
      font-size: 12px;
      text-align: center;
      line-height: 20px;
    }
  }
  .resume-btn-div {
    justify-content: center;
  }
}
