.dev-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0;
  list-style: none;
  width: fit-content;
  margin: 0 auto;
}

.competitive-sites-inline {
  flex: 1 1 calc(33.33% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.competitive-sites-inline:nth-child(4),
.competitive-sites-inline:nth-child(5) {
  flex: 1 1 calc(50% - 20px);
}

.competitive-sites-inline img {
  max-width: 100px;
  height: auto;
  display: block;
}

.competitive-sites-inline > i {
  color: #868e96;
}

.competitive-sites-inline > i:hover {
  color: #645beb;
}
