.dev-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 kolom */
  grid-template-rows: repeat(2, auto); /* 2 baris */
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.competitive-sites-inline img {
  max-width: 100px;
  height: auto;
}

.competitive-sites-inline > i {
  color: #868e96;
}

.competitive-sites-inline > i:hover {
  color: #645beb;
}
