.dev-icons-orgs {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.organizations-img {
  width: 300px;
  height: auto;
  /* filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5)); */
}

.organizations-inline {
  display: inline-block;
  margin-right: 50px;
  font-family: "Google Sans Regular";
}

.organizations-inline:hover {
  cursor: pointer;
}

@media (max-width: 1380px) {
}

@media (max-width: 768px) {
  .organizations-img {
    width: 60px;
  }

  .dev-icons-orgs {
    margin-left: 20px;
    margin-right: 20px;
  }

  .organizations-inline {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
