.dev-icons-orgs {
  list-style: none;
  font-size: 3rem;
  padding: 0px 50px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.organizations-img {
  width: 250px;
  height: auto;
}

.organizations-inline {
  display: inline-block;
  margin-right: 50px;
  font-family: "Google Sans Regular";
}

.organizations-inline:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  .dev-icons-orgs {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1380px) {
}

@media (max-width: 768px) {
  .dev-icons-orgs {
    grid-template-columns: repeat(2, 1fr); /* 2 kolom untuk layar kecil */
  }

  .organizations-img {
    width: 60px;
  }

  .dev-icons-orgs {
    margin-left: 20px;
    margin-right: 20px;
  }

  .organizations-inline {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .dev-icons-orgs {
    grid-template-columns: repeat(3, 1fr);
  }
}
